.pagBtn {
    margin: 1rem;
    background-color: #a3349c;
    padding: 1rem;
    font-weight: bold;
}

.pagBtn:disabled {
    background-color: rgb(27, 41, 41);
}

.pagBtn:hover {
    background-color: aliceblue;
    color: black;
}

.pagBtn:focus {
    background-color: greenyellow;
    color: black;
}